body {
    font-family: 'Lato', sans-serif;
    background-color: rgba(51, 56, 60, 1);
}

canvas {
    display: block;
    margin: auto;
}

.info-canvas {
    margin-top: 25px;
    margin-bottom: 5px;
}

.grid-size-btn {
    display: block;
    margin: 5px auto;
    min-width: 110px;
}
